<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $profile := resources.Get "images/profile.jpg" }}
    <link rel="preload" as="image" href="{{ $profile.RelPermalink }}"/>
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}"/>
    {{ $style := resources.Get "style.css" }}    
    <link rel="stylesheet" href="{{ $style.Permalink }}"> 
    {{ $js := resources.Get "script.js" }}
    <script src="{{$js.RelPermalink}}" defer></script>
</head>
